body{
background-color: rgb(52, 83, 52);
color:white;

}
#contact{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    
}
#contact:hover{
    background-color: white;
    color: rgb(52, 83, 52);
}

#outside-view{
    width: 150vh;
    height: 60vh;
   

}
#outside-view img {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
   
 
}
#topheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#headerleft{
    display: flex;
    align-items: center;
    gap: 20px;
}
#transform-section {
    display: flex;
    align-items: center;
    gap: 320px;
    
    
}
#transform-section p {

    text-align:justify; 
    width: 40%;   
    
}
#hofdreams{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}
#hofdreams:hover{
    background-color: white;
    color: rgb(52, 83, 52);
}
#outdoor-living {
    display: flex;
    margin-left: 313px;
    text-align: justify;
    gap: 24px;  
    margin-right: 50px;
}
#outdoor-living1 {
    display: flex;
    text-align: justify;
     gap: 10px; 
     margin-right: 55px; 
     
}
#services{
    margin-right: 200px;
   
    
}
#footer{
    display:flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
#contact-section{
    display:flex;
    align-items: center;
    gap: 340px;
}
#contact-section p{
    text-align: justify;
     width: 40%;  
 margin-left: 155px;

}
#contactmov{
    text-align: justify;
    display:flex;
}
#contactsec{
    margin-left: 342px;

}
#portfolio-images{
    display:flex;
    gap: 10px;
}
#portfolio-images img{
    flex:1;
    height: 40vh;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
}
#miniportfolio{
    display:flex;
    gap:450px;
    align-items: center;
}
#portfolio-description{
     text-align: justify;
     margin-left: 300px;
     margin-right: 30px;
     font-size: small;
}
#portfolio-details{
    margin-left: 300px;
    display:flex;
    text-align: justify;
    gap: 10px;
}
#portfolio-details p {
    font-size: small;

}
#portfolio-details h5{
    font-size:medium;
}
.portfolio-details1{
    border-left: 1px solid white;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}
.servicesdesc{
    border-left: 1px solid white;
    padding-left: 20px;
     margin-bottom: 10px;
}
.servicesdesc1{
    border-left: 1px solid white;
    padding-left: 10px;
     margin-bottom: 10px;
     margin-left: 08px;
     padding-right:3px;
}
#outdoor-living p {
    font-size: small;
}
#outdoor-living1 p {
    font-size: small;
}
#outdoor-living h2 {
    font-size: medium;
}
#outdoor-living1 h2 {
    font-size: medium;
}


